<div class="container">
    <div class="login-box">
        <div class="login-form">
            <h2>Log In</h2>
            <form action="#" method="POST">
                <div class="input-group">
                    <label for="username">Username</label>
                    <div class="input-wrapper">
                        <span class="icon">
                            <img src="../images/Login/name.png" alt="Name icon">
                        </span>
                        <input type="text" id="username" name="Username" class="input-username" placeholder="Enter Username">
                    </div>
                </div>
                <div class="input-group">
                    <label for="password">Password</label>
                    <div class="input-wrapper">
                        <span class="icon">
                            <img src="../images/Login/pass.png" alt="Pass icon">
                        </span>
                        <input type="password" name="Password" class="input-pass" autocomplete="off" id="password"
                            placeholder="Enter Password">
                    </div>
                </div>
                <div class="checkbox-group">
                    <input type="checkbox" id="terms">
                    <label for="terms">Remember Me</label>
                </div>
                <button type="submit" class="btn-register">Login</button>
            </form>

            <div class="login-fot-block">
                <p class="or-Login">Or, Login with</p>
                <div class="login-connect">
                    <div id="google-button" class="social-button"></div>
                    <!-- <div id="telegram-button" class="social-button"></div> -->
                </div>
            </div>

            <p class="login-link">Don’t have an account? <a href="@Url.Action("Register", "Account")">Create One</a></p>
        </div>
        <div class="login-image">
            <img src="../images/Login/ImgLog.png" alt="illustration login">
        </div>
    </div>
</div>