<div class="container">
    <div class="signup-box">
        <div class="signup-image">
            <img src="../images/Register/R 2.png" alt="User signing up">
        </div>
        <div class="signup-form">
            <h2>Sign Up</h2>
            <form action="#" method="POST">
                <div class="input-group">
                    <label for="username">Username</label>
                    <div class="input-wrapper">
                        <span class="icon">
                            <img src="../images/Register/name.png" alt="Name icon">
                        </span>
                        <input type="text" id="username" class="input-username" placeholder="Enter Username">
                    </div>

                </div>
                <div class="input-group">
                    <label for="email">Email</label>
                    <div class="input-wrapper">
                        <span class="icon">
                            <img src="../images/Register/Email.png" alt="Email icon">
                        </span>
                        <input type="email" class="input-email" id="email" placeholder="Enter Email">
                    </div>
                </div>
                <div class="input-group">
                    <label for="password">Password</label>
                    <div class="input-wrapper">
                        <span class="icon">
                            <img src="../images/Register/pass.png" alt="Pass icon">
                        </span>
                        <input type="password" class="input-pass" autocomplete="off" id="password" placeholder="Enter Password">
                    </div>
                </div>
                <div class="input-group">
                    <label for="confirm-password">Confirm Password</label>
                    <div class="input-wrapper">
                        <span class="icon">
                            <img src="../images/Register/passfull.png" alt="Passfull icon">
                        </span>
                        <input type="password" class="input-conf-pass" autocomplete="off" id="confirm-password"
                            placeholder="Confirm Password">
                    </div>
                </div>
                <div class="checkbox-group">
                    <input type="checkbox" id="terms">
                    <label for="terms">I agree to all terms</label>
                </div>
                <button type="submit" class="btn-register">Register</button>
            </form>
            <p class="signin-link">Already have an account? <a href="autorization.html"> Sign In</a></p>
        </div>
    </div>
</div>
